@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Regular.woff2")format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-SemiBold.woff2")format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Bold.woff2")format("woff2");
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    /* overflow-x: hidden; */
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1920px;
    padding: 0 160px;
    margin-right: auto;
    margin-left: auto;
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
}

.header__top {
    background-color: #000000;
}

.header__top-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 29px 0;
}

.header__top-content-adapt {
    display: none;
}

.header__top-content-logo {
    margin-right: 180px;
}

.header__top-content__nav {
    display: flex;
}

.header__top-content__nav li {
    margin-right: 62px;
}

.header__top-content__nav li:last-child {
    margin-right: 0;
}

.header__top-content__nav a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.header__top-content__nav a:focus {
    background-color: #7943A4;
    outline: none;
}

.header__top-content__nav a:hover {
    color: #C283F3;
}

.header__top-content__nav a:active {
    color: #7943A4;
    background-color: transparent;
}

.header__top-content-nav-adapt-button-close {
    display: none;
}

.header__top-content-nav-adapt-enter {
    display: none;
}

.header__top-content__enter {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-left: auto;
}

.header__top-content__enter span {
    margin-left: 3px;
}

.header__top-content__enter:focus {
    background-color: #7943A4;
    outline: none;
}

.header__top-content__enter:hover {
    color: #C283F3;
}

.header__top-content__enter:hover path {
    fill: #C283F3;
}

.header__top-content__enter:active {
    color: #7943A4;
    background-color: transparent;
}

.header__top-content__enter:active path {
    fill: #7943A4;
}

.header__top-content-search-adapt {
    display: none;
}

.header__lower {
    background: rgba(0, 0, 0, 0.4);
}

.header__lower-content {
    display: flex;
}

.header__lower-content__nav {
    display: flex;
    padding: 22px 0;
}

.header__lower-content__nav li {
    position: relative;
    padding-right: 95px;
}

.header__lower-content__nav li:last-child {
    padding-right: 0px;
}

.header__lower-content__nav a {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFF;
}

.header__lower-content__nav__dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 47px;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    height: 300px;
    width: 300px;
    z-index: 10;
}

.dropdown-visible {
    visibility: visible;
    opacity: 1;
}

.header__lower-content__nav__dropdown-li {
    width: 220px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: #FFFFFF;
    background-repeat: no-repeat;
    padding-top: 9px;
    padding-bottom: 12px;
    padding-left: 14px;
    border: 2px solid transparent;
    -webkit-transition: border .3s;
    transition: border .3s;
}

.header__lower-content__nav__dropdown-li:last-child {
    margin-bottom: 0;
}

.header__lower-content-nav-art-submenu:focus {
    background-color: #7943A4;
    outline: none;
}

.header__lower-content-nav-art-submenu:hover {
    color: #C283F3;
}

.header__lower-content-nav-art-submenu:active {
    color: #7943A4;
    background-color: transparent;
}

.header__lower-content-nav-art-submenu:hover path {
    stroke: #9D5CD0;
}

.header__lower-content-nav-art-submenu:active path {
    stroke: #7943A4;
}

.header__lower-content-nav-art-submenu-arrow {
    stroke: #fff;
    fill: none;
    -webkit-transition: stroke .3s ease-in-out, transform .3s ease-in-out;
    transition: stroke .3s ease-in-out, transform .3s ease-in-out;
}

.rotate-arrow {
    margin-bottom: 5px;
    -webkit-transform: rotate(180deg) translateY(-5px);
    transform: rotate(180deg) translateY(-5px);
}

.simplebar-scrollbar {
    background-color: #FFFFFF;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: '';
    border-radius: 0px;
    left: 0px;
    right: 8px;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.simplebar-track.simplebar-vertical {
    background-color: #000000;
    width: 5px;
    right: 19px;
    top: 40px;
    bottom: 40px;
}

.tintoretto {
    background-image: url("../img/Tintoretto.jpg");
}

.tintoretto:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Tintoretto.jpg");
}

.frederick {
    background-image: url("../img/Frederick.jpg");
}

.frederick:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Frederick.jpg");
}

.leonardo {
    background-image: url("../img/Leonardo.jpg");
}

.leonardo:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Leonardo.jpg");
}

.verrocchio {
    background-image: url("../img/Verrocchio.jpg");
}

.verrocchio:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/Verrocchio.jpg");
}

.mone {
    background-image: url("../img/mone.png");
}

.mone:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/mone.png");
}

.sisley {
    background-image: url("../img/sisley.png");
}

.sisley:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/sisley.png");
}

.mane {
    background-image: url("../img/mane.png");
}

.mane:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/mane.png");
}

.renyar {
    background-image: url("../img/renyar.png");
}

.renyar:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/renyar.png");
}

.vangog {
    background-image: url("../img/vangog.png");
}

.vangog:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/vangog.png");
}

.sezann {
    background-image: url("../img/sezann.png");
}

.sezann:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/sezann.png");
}

.gogen {
    background-image: url("../img/gogen.png");
}

.gogen:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/gogen.png");
}

.sera {
    background-image: url("../img/sera.png");
}

.sera:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/sera.png");
}

.kandinskiy {
    background-image: url("../img/kandinskiy.png");
}

.kandinskiy:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/kandinskiy.png");
}

.marinetti {
    background-image: url("../img/marinetti.png");
}

.marinetti:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/marinetti.png");
}

.malevich {
    background-image: url("../img/malevich.png");
}

.malevich:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/malevich.png");
}

.picasso {
    background-image: url("../img/picasso.png");
}

.picasso:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/picasso.png");
}

.karra {
    background-image: url("../img/karra.png");
}

.karra:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/karra.png");
}

.pratella {
    background-image: url("../img/pratella.png");
}

.pratella:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/pratella.png");
}

.severini {
    background-image: url("../img/severini.png");
}

.severini:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/severini.png");
    background-image: url("../img/severini.png");
}

.balla {
    background-image: url("../img/balla.png");
}

.balla:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/balla.png");
    background-image: url("../img/balla.png");
}

.header__lower-content__nav__search-form {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 7px;
    margin-right: 4px;
}

.header__lower-content__nav__search-form-button {
    border: none;
    background: transparent;
}

.header__top-content__search-form__line, .header__lower-content__nav__search-form__line {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    background-color: transparent;
    width: 218.87px;
    height: 26px;
}

.header__top-content__search-form__line, .header__lower-content__nav__search-form__line:focus {
    outline: none;
    border-bottom: 1px solid #C283F3;
}

.header__top-content__search-form__line, .header__lower-content__nav__search-form__line:hover {
    border-bottom: 1px solid #C283F3;
}

.header__top-content__search-form__line, .header__lower-content__nav__search-form__line:active {
    border-bottom: 1px solid #7943A4;
}

input::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.header__top-content__search-form__line, .header__lower-content__nav__search-form__line::placeholder {
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.header__lower-content__nav__dropdown li:hover {
    border: 2px solid #9D5CD0;
}

.header__lower-content__nav__dropdown li:focus {
    border: 2px solid #9D5CD0;
}

.header__lower-content__nav__dropdown li:active {
    border: 2px solid #D1A9F0;
}

.hero {
    position: relative;
    padding-bottom: 143px;
    margin-bottom: 82px;
}

@keyframes heroAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
        transform: scale(1.1);
    }

    25% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
    }
}

.hero__content-background-img-position {
    position: absolute;
    top: -141px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.hero__content-background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    animation: heroAnimation 39s linear infinite 0s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
}

.hero__content-background-img:nth-of-type(1) {
    background-image: url("../img/hero__slide1.jpg");
}

.hero__content-background-img:nth-of-type(2) {
    background-image: url("../img/hero__slide2.png");
    animation-delay: 6s;
}

.hero__content-background-img:nth-of-type(3) {
    background-image: url("../img/hero__slide3.png");
    animation-delay: 12s;
}

.hero__content-background-img:nth-of-type(4) {
    background-image: url("../img/hero__slide1.jpg");
    animation-delay: 18s;
}

.hero__content-background-img:nth-of-type(5) {
    background-image: url("../img/hero__slide2.png");
    animation-delay: 24s;
}

.hero__content-background-img:nth-of-type(6) {
    background-image: url("../img/hero__slide3.png");
    animation-delay: 30s;
}

.hero__content-text {
    padding-top: 70px;
    max-width: 600px;
}

.hero__content-text h2 {
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 20px;
}

.hero__content-text p {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 117px;
}

.hero__content-text-buttom {
    padding: 22px 0px;
    padding-right: 37px;
    padding-left: 34px;
    background: #9D5CD0;
    border-radius: 100px;
    border: 1px solid #9D5CD0;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: #FFFFFF;
}

.hero__content-text-buttom:hover {
    border: 3px solid #D1A9F0;
}

.hero__content-text-buttom:focus {
    border: 2px solid white;
    outline: 2px solid #C283F3;
}

.hero__content-text-buttom:active {
    background: #7943A4;
    border: 3px solid #D1A9F0;
    outline: none;
}

.about {
    margin-bottom: 70px;
}

.about h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #333333;
    margin: 0;
    margin-bottom: 15px;
}

.about p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #333333;
    margin: 0;
    width: calc(1080 / 1600 * 100%);
}

.gallery {
    background-image: url("../img/backgroundgallery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 73px;
    margin-bottom: 83px;
}

.gallery__content-position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__content-text {
    display: flex;
    flex-direction: column;
    width: calc(400 / 1600 * 100%);
}

.gallery__content-text h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 15px;
}

.gallery__content-filter-select span {
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 11px;
}

.gallery__content-filter-select-choices {
    width: 100%;
}

.choices__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.choices__inner,
.choices__list,
.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: transparent;
}

.choices__inner:hover,
.choices__list--dropdown .choices__item--selectable.is-highlighted:hover {
    background: rgba(255, 255, 255, 0.2);
}

.choices:focus {
    background: rgba(255, 255, 255, 0.2);
}

.choices__list {
    z-index: 111;
    width: 100%;
}

.choices__list--dropdown .choices__item:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.choices__inner {
    border-radius: 6px;
    min-height: 40px;
    max-width: 400px;
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    color: white;
}

.is-focused .choices__inner {
    border-radius: 6px;
    overflow: hidden;
}

.is-open .choices__list--dropdown {
    border-radius: 6px;
}

.choices__list--dropdown .choices__item {
    position: relative;
    padding: 10px;
    font-size: 16px;
    line-height: 32px;
    color: #999999;

}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0px;
}

.choices[data-type*=select-one]:after {
    content: '';
    height: 7px;
    width: 7px;
    border: 1px solid white;
    border-color: white transparent transparent white;
    position: absolute;
    right: 16px;
    top: 50%;
    z-index: 25;
    transform: rotate(223deg);
    pointer-events: none;
}

.choices[data-type*=select-one].is-open:after {
    top: 45%;
    margin-top: 0;
    transform: rotate(45deg);
    border: 1px solid white;
    border-color: white transparent transparent white;
}

.choices__item--choice,
.choices__inner {
    transition: outline .3s ease-in-out, border-color .3s ease-in-out;
}

.choices__item--choice:hover {
    outline: var(--hover-color);
    color: #FFFFFF;
}

.choices__inner:focus {
    border-color: var(--outline-color);
}

.choices__list--dropdown .choices__item--selectable.is-selected {
    display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
}

.gallery__content-age-checkbox {
    margin-top: 176px;
}

.gallery__content-slayder-img {
    width: calc(1150 / 1600 * 100%);
    margin: 0;
}

.gallery__content-slayder-img-swiper {
    overflow: hidden;
}

.gallery__content-slayder-img-swiper-slide {
    border: 2px solid transparent;
    position: relative;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

.swiper-button-next,
.swiper-button-prev {
    position: relative;
    top: 15px;
    width: 29px;
    height: 28px;
    border-radius: 50%;
    background: #666666;
    display: inline-block;
    z-index: 100;
    border: 2px solid #666666;
    transition: all .3s ease-in-out;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    position: absolute;
    top: 8px;
    display: block;
    font-size: 10px;
}

.swiper-pagination {
    color: white;
}

.gallery__content-slayder-img-swiper-navagation {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-top: 33px;
    margin-bottom: 29px;
    margin-left: -4px;
}

.gallery__content-slayder-img-swiper-pagination {
    width: auto;
    text-align: center;
    font-size: 16px;
    color: white;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 14px;
}

.gallery__content-slayder-button:hover {
    background-color: #9D5CD0;
}

.gallery__content-slayder-button:focus {
    outline: 2px solid #000000;
}

.gallery__content-slayder-button:active {
    background-color: #7943A4;
}

.gallery__content-age-checkbox-input:last-child {
    margin-bottom: 0;
}

.gallery__content-age-checkbox-input input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.gallery__content-checkbox-input-text {
    color: #CACACA;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.gallery__content-checkbox-input-text::before {
    content: "\2B24";
    top: 5px;
    left: 0px;
    color: transparent;
    position: absolute;
    outline: 1px solid #ccc;
    font-size: 6px;
    font-weight: 700;
    line-height: 12px;
    height: 12px;
    width: 12px;
    transition: color ease .3s;
    padding-top: 0px;
    padding-left: 3px;
}

.gallery__content-age-checkbox-input input:focus+.gallery__content-checkbox-input-text:before {
    outline: 1px solid #C283F3;
}

.gallery__content-age-checkbox-input input:focus+.gallery__content-checkbox-input-text {
    color: #C283F3;
}

.gallery__content-checkbox-input-text:hover {
    color: #C283F3;
}

.gallery__content-age-checkbox-input input:hover+.gallery__content-checkbox-input-text:before {
    outline: 1px solid #C283F3;
}

.gallery__content-age-checkbox-input input:checked+.gallery__content-checkbox-input-text:before {
    color: #C283F3;
    outline: 1px solid #C283F3;
}

.gallery__content-age-checkbox-input input:checked+.gallery__content-checkbox-input-text {
    color: #C283F3;
}

.gallery__content-slayder-img-button {
    border: 2px solid transparent;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    outline: none;
}

.gallery__content-slayder-img-button::before {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 131, 243, 0.4);
}

.gallery__content-slayder-img-button::after {
    content: '';
    display: block;
    display: none;
    background-image: url(../img/loupe.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 85%;
    height: 85%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
}

.gallery__content-slayder-img-button:focus {
    border: 3px solid #7943A4;
    outline: none;
}

.gallery__content-slayder-img-button:hover::after {
    display: block;
}

.gallery__content-slayder-img-button:active::before {
    display: block;
}

.catalog {
    margin-bottom: 76px;
}

.catalog__content-text {
    margin-bottom: 40px;
}

.catalog__content-text h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    color: #333333;
    margin: 0;
    margin-bottom: 16px;
}

.catalog__content-text p {
    width: calc(1100 / 1600 * 100%);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #333333;
    margin: 0;
}

.catalog__content-painters-position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__content-painters-info {
    width: calc(750 / 1600 * 100%);
}

.catalog__content-painters-info-position {
    flex-direction: column;
    max-width: 750px;
}

.catalog__content-painters-info-position img {
    margin-bottom: 30px;
}

.catalog__content-painters-info-text h3 {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    margin-bottom: 5px;
}

.catalog__content-painters-info-text span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #999999;
    margin: 0;
}

.catalog__content-painters-info-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #333333;
    margin: 0;
    margin-top: 5px;
}

.catalog__content-painters-info-text a {
    font-size: 16px;
    line-height: 22px;
    color: #9D5CD0;
}

.catalog__content-nav {
    width: calc(800 / 1600 * 100%);
}

.catalog__content-nav-accordion {
    transition: background 0.3s ease;
    font-style: normal;
    line-height: 45px;
}

.ui-accordion .ui-accordion-header {
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    border-right: 0;
    border-left: 0;
    padding: 32px 0;
}

.ui-accordion .ui-accordion-content {
    padding: 25px 0;
    padding-right: 64px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background: none;
    color: #333333;
    border-bottom: 0;
}

.fixes-h3-border-bottom {
    border-bottom: 1px solid #CACACA;
}

.fixes-h3-border-bottom:hover {
    border-bottom: 1px solid #9D5CD0;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.ui-widget-content {
    border: 0;
    background: none;
    color: #333333;
}

.ui-icon,
.ui-widget-content .ui-icon {
    display: none;
}

.catalog__content-nav-accordion-arrow {
    background-image: url('../img/catalog_icon.png');
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-left: auto;
}

.ui-state-hover .catalog__content-nav-accordion-arrow,
.ui-state-focus .catalog__content-nav-accordion-arrow,
.ui-button:hover .catalog__content-nav-accordion-arrow,
.ui-button:focus .catalog__content-nav-accordion-arrow {
    background-image: url('../img/catalog_icon_hover.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.ui-state-hover {
    border-top: 1px solid #9D5CD0;
}

.ui-state-hover a,
.ui-state-hover a:link,
.ui-state-hover a:visited {
    color: #9D5CD0;
}

.ui-state-focus {
    outline: #CACACA;
}

.ui-state-focus a,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: #FFFFFF;
    background-color: #9D5CD0;
    outline: none;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #7943A4;
    background-color: transparent;
}

.ui-state-active .catalog__content-nav-accordion-arrow,
.ui-button:active .catalog__content-nav-accordion-arrow {
    background-image: url('../img/catalog_icon_active.png');
    transition: transform 0.3s ease;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #7943A4;
    font-weight: normal;
    color: #ffffff;
}

.catalog__content-nav-accordion-cap-painters {
    display: flex;
}

.catalog__content-nav-accordion-cap-painters img {
    width: 251px;
    height: 165px;
    padding-right: 24px;
}

.catalog__content-nav-accordion-cap-painters h3 {
    margin: 0;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    padding-bottom: 10px;
    padding-top: 27px;
}

.catalog__content-nav-accordion-cap-painters p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    width: 55%;
}

.catalog__content-nav-accordion-cap-painters a {
    font-size: 16px;
    line-height: 22px;
    color: #9D5CD0;
}

.catalog__content-nav-accordion-cap-painters a:focus {
    color: white;
    background-color: #9D5CD0;
    outline: none;
}

.catalog__content-nav-accordion-cap-painters a:hover {
    color: #9D5CD0;
    text-decoration: underline;
}

.catalog__content-nav-accordion-cap-painters a:active {
    color: #7943A4;
    text-decoration: underline;
    background-color: none;
}

.catalog__content-nav-accordion-name-painters {
    display: flex;
    flex-flow: column wrap;
    max-height: 350px;
}

@media (max-width: 1530px) {
    .catalog__content-nav-accordion-name-painters {
        max-height: 500px;
    }
}

.catalog__content-nav-accordion-name a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.catalog__content-nav-accordion-name a:hover {
    color: #9D5CD0;
    text-decoration: underline;
}

.catalog__content-nav-accordion-name a:focus {
    color: #FFFFFF;
    background-color: #9D5CD0;
    outline: none;
}

.catalog__content-nav-accordion-name a:active {
    color: #7943A4;
    background-color: none;
}

.tabs-item {
    display: none;
}

.tabs-item--active {
    display: flex;
}

.events__headear {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #333333;
    margin: 0;
    margin-bottom: 24px;
}

.events__content-slayder {
    position: relative;
    display: flex;
    overflow: hidden;
}

.events__content-slayder-block {
    border: 1px solid #CACACA;
    position: relative;
}

.events__content-slayder-block-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 330px;
    margin-bottom: 11px;
}

.events__content-slayder-block-img-1 {
    background-image: url('../img/sobtiay_slide_1.png');
}

.events__content-slayder-block-img-2 {
    background-image: url('../img/sobtiay_slide_2.png');
}

.events__content-slayder-block-img-3 {
    background-image: url('../img/sobtiay_slide_3.png');
}

.events__content-slayder-block-img-4 {
    background-image: url('../img/sobtiay_slide_4.png');
}

.events__content-slayder-block-img-5 {
    background-image: url('../img/sobtiay_slide_5.png');
}

.events__content-slayder-block-text {
    padding-left: 49px;
    padding-right: 63px;
    padding-bottom: 50px;
}

.events__content-slayder-block-text-place {
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    color: #999999;
}

.events__content-slayder-block-text h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    margin-top: 18px;
}

.events__fixes-header-block-one {
    margin-bottom: 9px;
}

.events__fixes-header-block-two {
    margin-bottom: 17px;
}

.events__fixes-header-block-three {
    margin-bottom: 13px;
}

.events__block__text-three__padding {
    padding-right: 38px;
}

.events__fixes-header-block-four {
    margin-bottom: 21px;
}

.events__fixes-header-block-five {
    margin-bottom: 21px;
}

.events__content-slayder-block-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.events__fixes-margin-bottom-block-1 {
    margin: 0;
    margin-bottom: 92px;
}

.events__fixes-margin-bottom-block-2 {
    margin: 0;
    margin-bottom: 82px;
}

.events__fixes-margin-bottom-block-3 {
    margin: 0;
    margin-bottom: 121px;
}

.events__fixes-margin-bottom-block-4 {
    margin: 0;
    margin-bottom: 80px;
}

.events__fixes-margin-bottom-block-5 {
    margin: 0;
    margin-bottom: 141px;
}

.events__content-slayder-block-text-link {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #9D5CD0;
    text-decoration: underline;
}

.events__content-slayder-block-text-link:hover {
    color: #7943A4;
}

.events__content-slayder-block-text-link:focus {
    background: #9D5CD0;
    outline: none;
    color: white;
}

.events__content-slayder-block-text-link:active {
    background: transparent;
    color: #333333;
}

.events__content-slayder-button {
    position: absolute;
    top: 44%;
    background-color: #ECECEC;
    border: 2px solid #ECECEC;
    width: 50px;
    height: 50px;
}

.events__content-slayder-button.swiper-button-next {
    right: 0;
}

.events__content-slayder-button.swiper-button-prev {
    left: 0;
}

.events__content-slayder-button-next.swiper-button-disabled,
.events__content-slayder-button-prev.swiper-button-disabled {
    opacity: 0;
}

.events__content-slayder-button:hover {
    background-color: #D1A9F0;
    border: 2px solid #D1A9F0;
}

.events__content-slayder-button:focus {
    border: 2px solid #9D5CD0;
    outline: none;
}

.events__content-slayder-button:active {
    background-color: #D1A9F0;
    border: 2px solid #9D5CD0;
    outline: none;
}

.swiper-pagination {
    display: none;
}

.projects {
    margin-bottom: 80px;
}

.projects__content-text h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    color: #333333;
    margin: 0;
    margin-bottom: 15px;
}

.projects__content-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    width: calc(1070 / 1600 * 100%);
    margin: 0;
    margin-bottom: 20px;
}

.tultip {
    position: relative;
}

.popup {
    position: absolute;
    top: -63px;
    width: 242px;
    left: -107px;
    background: #9D5CD0;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 15px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    text-align: center;
}

.popup-fixes {
    top: -35px;
    left: -101px;
}

.marker {
    padding: 0px;
    position: relative;
    z-index: 1;
}

.marker:hover svg {
    fill: #D1A9F0;
}

.marker:focus svg {
    fill: #D1A9F0;
}

.marker:active svg path {
    fill: #9D5CD0;
    stroke: white;
}

.marker:active+.popup {
    opacity: 1;
}

.projects__content-text-link {
    font-size: 16px;
    line-height: 32px;
    color: #9D5CD0;
}

.projects__content-text-link:hover {
    color: #9D5CD0;
    text-decoration: underline;
}

.projects__content-text-link:focus {
    background: #9D5CD0;
    outline: none;
    color: white;
}

.projects__content-text-link:active {
    background: transparent;
    color: #7943A4;
    text-decoration: underline;
}

.projects__content-text h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #333333;
    margin: 0;
    margin-bottom: 23px;
}

.projects__content-slayder {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.projects__content-swiper-container {
    max-width: 1425px;
    margin-left: 75px;
}

.projects__content-swiper-slide-link {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    max-width: 450px;
    border: 1px solid #cacaca;
    margin: 0;
}

.projects__content-swiper-slide-link:focus,
.projects__content-swiper-slide-link:active {
    outline: none;
    border: 2px solid var(--hover-color);
}

.projects__content-swiper-slide-img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter .3s ease-in-out;
}

.projects__content-swiper-slide-link:hover .projects__content-swiper-slide-img {
    filter: grayscale(0%);
    opacity: 1;
}

.projects__content-swiper-slide-link:active .projects__content-swiper-slide-img {
    filter: grayscale(0%);
    opacity: 1;
}

.projects__content-slayder-button {
    position: absolute;
    top: 55%;
    background-color: #ECECEC;
    border: 2px solid #ECECEC;
    width: 30px;
    height: 30px;
}

.projects__content-slayder .swiper-button-next {
    right: 0px;
}

.projects__content-slayder-button:hover {
    background-color: #D1A9F0;
    border: 2px solid #D1A9F0;
}

.projects__content-slayder-button:focus {
    border: 2px solid #9D5CD0;
    outline: none;
}

.projects__content-slayder-button:active {
    background-color: #D1A9F0;
    border: 2px solid #9D5CD0;
    outline: none;
}

.projects__content-slayder .swiper-button-prev {
    left: -1px;
}

.contacts {
    border: 1px solid #CACACA;
    border-right: none;
    border-bottom: none;
}

.contacts__content {
    display: flex;
    align-items: center;
    padding: 37px 0;
}

.contacts__content-text {
    margin-right: 80px;
}

.contacts__content-text h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #333333;
    margin: 0;
}

.contacts__content-text address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #333333;
}

.contacts__content-link {
    margin-left: auto;
}

.contacts__content-link h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin: 0;
    margin-bottom: 6px;
}

.contacts__content-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contacts__content-form-report {
    position: relative;
    min-width: 270px;
    margin-right: 16px;
}

.just-validate-error-label {
    position: absolute;
    padding-left: 20px;
    bottom: calc(100% + 3px);
    font-size: 14px;
}

.contacts__content-form-input {
    border: 1px solid #333333;
    border-radius: 100px;
    padding: 15px 24px;
    width: 100%;
}

.just-validate-error-field {
    border-color: #D11616;
}

.contacts__content-form-input:hover {
    background: #EAEAEA;
}

.contacts__content-form-input:focus {
    background: #EAEAEA;
    outline: 1px;
}

.contacts__content-form-button {
    width: 329px;
    height: 50px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    background-color: white;
    font-size: 18px;
    line-height: 25px;
    color: #9D5CD0;
    font-weight: 700;
}

@media (max-width: 1800px) {
    .contacts__content-form-button {
        margin-top: 5px;
    }
}

.contacts__content-form-button:hover {
    background: #9D5CD0;
    color: white;
}

.contacts__content-form-button:focus {
    outline: 1px solid #9D5CD0;
    border: 2px solid #7943A4;
}

.contacts__content-form-button:active {
    background: #9D5CD0;
    outline: 1px solid #D1A9F0;
    border: 2px solid #D1A9F0;
    color: white;
}

.whatsapp {
    display: inline-block;
    background-image: url('../img/Whatsapp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.whatsapp:hover {
    opacity: 0.5;
}

.whatsapp:focus {
    outline: none;
    opacity: 0.5;
}

.whatsapp:active {
    opacity: 1;
    border: 1px solid #9643A4;
    border-radius: 100%;
}

.telegram {
    display: inline-block;
    background-image: url('../img/Telegram.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.telegram:hover {
    opacity: 0.5;
}

.telegram:focus {
    outline: none;
    opacity: 0.5;
}

.telegram:active {
    opacity: 1;
    border: 1px solid #9643A4;
    border-radius: 100%;
}

.contacts__content-map {
    border-top: 1px solid #CACACA;
    height: 700px;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

.footer {
    background: #000000;
}

.footer__content {
    display: flex;
    align-items: center;
    padding: 45px 0;
}

.footer__content-link {
    margin-left: auto;
}

.footer__content-link a {
    margin-right: 16px;
}

.footer__content-link a:last-child {
    margin-right: 0px;
}

.footer__content-link a:hover path {
    fill: white;
}

.footer__content-link a:focus {
    outline: none;
}

.footer__content-link a:focus path {
    fill: white;
    outline: none;
}

.footer__content-link a:active path {
    fill: #9D5CD0;
}

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

.is-active {
    display: flex;
}

.overlay__content-gallery-modal {
    background-color: white;
    max-width: 900px;
    max-height: 500px;
    position: relative;
}

.overlay__content-gallery-modal-button-close {
    position: absolute;
    top: 4%;
    left: 95.5%;
    border: none;
    background-color: transparent;
}

.overlay__content-gallery-modal-block {
    display: flex;
}

.overlay__content-gallery-modal-block-img {
    width: 45%;
}

.overlay__content-gallery-modal-block-text {
    width: 50%;
    padding: 121px 0;
    padding-left: 49px;
}

.overlay__content-gallery-modal-block-text h3 {
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    margin: 0;
}

.overlay__content-gallery-modal-block-text-img {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.overlay__content-gallery-modal-block-text-age {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
}

.overlay__content-gallery-modal-block-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

@media (max-width: 1600px) {
    .header__lower-content__nav li {
        padding-right: 50px;
    }
}

@media (max-width: 1400px) {
    .container {
        padding: 0 50px;
    }

    .header__lower-content__nav li {
        padding-right: 20px;
    }

    .catalog__content-nav-accordion-cap-painters h3 {
        padding-top: 30px;
    }

    .contacts__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts__content-form {
        margin: 30px 0;
    }
}

@media (max-width: 1200px) {

    .header__top-content {
        justify-content: space-between;
        padding: 28px 0;
    }

    .header__top-content-adapt {
        background-image: url("../img__adapt/Burger.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width: 36px;
        height: 28px;
        padding: 10px;
        transition: background 0.3s ease;
    }

    .header__top-content-nav-adapt {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        top: 0px;
        bottom: 0;
        left: 0;
        width: 40%;
        max-height: 768px;
        padding: 0 51px;
        padding-top: 39px;
        padding-bottom: 51px;
        background-color: #000000;
        transform: translateX(-3%);
        animation: ani 1s forwards;
        margin: 0;
        font-size: 24px;
        line-height: 29px;
        font-weight: bold;
        text-align: left;
        justify-content: space-between;
    }

    .header__top-content-nav-adapt-button-close {
        display: inline-block;
        width: 37px;
        height: 37px;
        background-image: url("../img__adapt/X.png");
        background-repeat: no-repeat;
        margin-bottom: 30px;
    }

    .is-none {
        display: none;
    }

    .header__top-content-logo {
        margin-right: 0px;
    }

    .header__top-content__nav {
        display: flex;
        margin: 0;
        flex-direction: column;
    }

    .header__top-content__nav a {
        font-size: 24px;
        color: #FFFFFF;
        line-height: 64px;
    }

    .header__top-content-nav-adapt-enter {
        display: inline-block;
        width: 257px;
        height: 60px;
        background-color: transparent;
        border: 2px solid #9D5CD0;
        border-radius: 100px;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 600;
    }

    .header__top-content-nav-adapt-enter:hover {
        background: #9D5CD0;
        color: white;
    }

    .header__top-content-nav-adapt-enter:focus {
        outline: 1px solid #9D5CD0;
        border: 2px solid #7943A4;
    }

    .header__top-content-nav-adapt-enter:active {
        background: #9D5CD0;
        outline: 1px solid #D1A9F0;
        border: 2px solid #D1A9F0;
        color: white;
    }

    .header__top-content__enter {
        display: none;
    }

    @keyframes ani {
        0% {
            transform: translateX(-150%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .header__top-content-search-adapt {
        display: flex;
    }

    .header__top-content__search__icon-search {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .header__top-content__search-form {
        display: none;
        position: absolute;
        align-items: flex-end;
        z-index: 10;
        top: 10px;
        bottom: 0;
        left: auto;
        right: 0;
        max-width: 600px;
        height: 60px;
        padding: 0 30px;
        background-color: black;
        animation: ani .5s forwards;
        margin: 0;
    }

    .is-active {
        display: flex;
    }

    .header__top-content__search-form__line, .header__lower-content__nav__search-form__line {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        background-color: transparent;
        max-width: 450px;
        height: 30px;
        color: white;
        font-size: 22px;
        margin-bottom: 9px;
    }

    .header__top-content__search-form__button {
        background-image: url("../img__adapt/Union.png");
        background-repeat: no-repeat;
        width: 37px;
        height: 37px;
        background-color: transparent;
        border: none;
    }

    .header__top-content__search-form__button-cover {
        background-image: url("../img__adapt/X.png");
        background-repeat: no-repeat;
        width: 37px;
        height: 32px;
        background-color: transparent;
        border: none;
        margin-left: 17px;
    }

    .header__lower-content__nav {
        display: none;
    }

    .header__lower-content__nav li {
        padding-right: 56px;
    }

    .header__lower-content__nav__search-form {
        display: none;
    }

    .hero {
        padding-bottom: 136px;
        margin-bottom: 80px;
    }

    .hero__content-text {
        padding-top: 112px;
        max-width: 660px;
    }

    .hero__content-text h2 {
        margin-bottom: 13px;
        max-width: 580px;
    }

    .hero__content-text p {
        margin: 0;
        margin-bottom: 157px;
    }

    .about {
        margin-bottom: 69px;
    }

    .about h2 {
        margin-bottom: 17px;
    }

    .about p {
        width: calc(1080 / 1080 * 100%);
    }

    .gallery {
        padding-top: 80px;
        padding-bottom: 73px;
        margin-bottom: 80px;
    }

    .gallery__content-text {
        width: calc(485 / 1600 * 100%);
    }

    .gallery__content-text h2 {
        margin-bottom: 16px;
    }

    .gallery__content-filter-select span {
        margin-bottom: 10px;
    }

    .gallery__content-age-checkbox {
        margin-top: 106px;
    }

    .gallery__content-checkbox-input-text {
        padding-left: 22px;
    }

    .gallery__content-checkbox-input-text::before {
        top: 6px;
        height: 10px;
        width: 10px;
    }

    .choices[data-type*=select-one]:after {
        right: 19px;
    }

    .gallery__content-slayder-img {
        width: calc(1030 / 1600 * 100%);
    }

    .gallery__content-slayder-img-swiper-navagation {
        margin-top: 32px;
        margin-bottom: 30px;
        margin-left: 0px;
        width: 159px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 49px;
        height: 30px;
    }

    .gallery__content-slayder-img-swiper-pagination {
        text-align: left;
        margin-left: 19px;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 25px;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 0px;
        right: auto;
    }

    .catalog {
        margin-bottom: 79px;
    }

    .catalog__content-text {
        margin-bottom: 39px;
    }

    .catalog__content-text p {
        width: calc(1640 / 1600 * 100%);
    }

    .catalog__content-painters-info {
        width: calc(780 / 1600 * 100%);
    }

    .catalog__content-nav {
        width: calc(760 / 1600 * 100%);
    }

    .catalog__content-nav-accordion-name-painters {
        max-height: 443px;
    }

    .catalog__content-painters-info-position img {
        margin-bottom: 30px;
        max-width: 437px;
    }

    .catalog__content-painters-info-text p {
        margin-top: 7px;
    }

    .ui-accordion .ui-accordion-content {
        padding-right: 4px;
        align-content: space-between;
    }

    .catalog__content-nav-accordion-cap-painters img {
        max-width: 189px;
        max-height: 130px;
    }

    .catalog__content-nav-accordion-cap-painters h3 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .catalog__content-nav-accordion-cap-painters p {
        width: 80%;
    }

    .events {
        margin-bottom: 41px;
    }

    .events__headear {
        margin-bottom: 16px;
    }

    .events__content-slayder {
        height: 764px;
    }

    .events__content-slayder-block {
        height: 89%;
    }

    .events__content-slayder-block-img {
        max-height: 200px;
        margin-bottom: 18px;
    }

    .events__content-slayder-block-text {
        display: flex;
        flex-direction: column;
        padding: 0 34px;
        padding-bottom: 0px;
    }

    .events__content-slayder-block-text-place {
        text-align: right;
        line-height: 14px;
    }

    .events__content-slayder-block-text h3 {
        margin-top: 4px;
    }

    .events__fixes-header-block-two {
        margin-bottom: 6px;
    }

    .events__fixes-header-block-three {
        margin-bottom: 6px;
    }

    .events__fixes-header-block-four {
        margin-bottom: 5px;
    }

    .events__fixes-header-block-five {
        margin-bottom: 4px;
    }

    .events__block__text h3 {
        margin-top: 6px;
    }

    .events__fixes-margin-bottom-block-1 {
        margin-bottom: 21px;
    }

    .events__fixes-margin-bottom-block-2 {
        margin-bottom: 23px;
    }

    .events__fixes-margin-bottom-block-3 {
        margin-bottom: 57px;
    }

    .events__block__text__fixes-1024__paddig-right {
        padding-right: 20px;
    }

    .events__fixes-margin-bottom-block-4 {
        margin-bottom: 25px;
    }

    .events__fixes-margin-bottom-block-5 {
        margin-bottom: 22px;
    }

    .events__content-slayder-button {
        display: none;
    }

    .swiper-pagination {
        display: flex;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 30px;
        top: 93.5%;
        left: 47%;
        width: 100%;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 7px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: #666666;
    }

    .projects {
        margin-bottom: 85px;
    }

    .projects__content-text h2 {
        margin-bottom: 18px;
    }

    .projects__content-text p {
        margin-bottom: 18px;
        width: calc(1600 / 1600 * 100%);
    }

    .projects__content-text h3 {
        margin-bottom: 19px;
    }

    .projects__content-slayder {
        padding: 0 54px;
    }

    .projects__content-swiper-container {
        margin-left: 0px;
    }

    .projects__content-slayder-button {
        top: 58%;
    }

    .projects__content-slayder .swiper-button-next {
        width: 30px;
        right: 0;
    }

    .projects__content-slayder .swiper-button-prev {
        width: 30px;
        left: 0;
    }

    .projects__content-swiper-slide-link {
        height: 128px;
    }

    .contacts__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 0;
    }

    .contacts__content-form {
        margin: 28px 0;
    }

    .contacts__content-form-report {
        margin-right: 16px;
    }

    .contacts__content-form-button {
        width: 342px;
        margin: 0;
    }

    .contacts__content-link {
        margin-left: 0;
    }

    .footer__content {
        padding: 40px 0;
    }

    .footer__content-link a {
        margin-right: 26px;
    }

    .footer__content-link svg {
        width: 60px;
        height: 60px;
    }

    .overlay__content-gallery-modal {
        max-width: 594px;
        max-height: 594px;
    }

    .overlay__content-gallery-modal-button-close {
        top: 3%;
        left: 95%;
    }

    .overlay__content-gallery-modal-block-img img {
        width: 267px;
        height: 594px;
    }

    .overlay__content-gallery-modal-block-text p {
        margin: 0;
        padding: 30px 15px;
        padding-left: 0;
    }
}

@media (max-width: 970px) {

    .header__top-content-nav-adapt {
        max-width: 100%;
        width: 100%;
    }

    .header__top-content__search-form {
        max-width: 100%;
        width: 100%;
        height: 70px;
        justify-content: center;
    }

    .header__top-content__search-form__line, .header__lower-content__nav__search-form__line {
        max-width: 100%;
        width: 500px;
        margin: 0 10px;
    }

    .header__top-content-search-adapt svg {
        width: 27px;
        height: 27px;
    }

    .hero {
        margin-bottom: 78px;
        padding-bottom: 136px;
    }

    .hero__content-text h1 {
        margin-bottom: 10px;
    }

    .hero__content-text p {
        margin-bottom: 157px;
    }

    .hero__content-text-buttom {
        padding-right: 35px;
    }

    .about {
        margin-bottom: 71px;
    }

    .gallery {
        padding-top: 80px;
        padding-bottom: 73px;
        margin-bottom: 80px;
    }

    .gallery__content-text {
        margin-bottom: 17px;
        width: calc(680 / 1600 * 100%);
    }

    .gallery__content-text h2 {
        margin-bottom: 17px;
    }

    .gallery__content-age-checkbox {
        margin-top: 40px;
    }

    .gallery__content-checkbox-input-text {
        padding-left: 24px;
    }

    .gallery__content-checkbox-input-text::before {
        height: 11px;
        top: 5px;
        left: 0px;
        width: 11px;
        padding-top: 0px;
        padding-left: 3px;
        line-height: 13px;
    }

    .choices__list--dropdown .choices__item {
        background-color: #000000;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background-color: #000000;
    }

    .choices__list--single {
        padding-left: 7px;
    }

    .gallery__content-slayder-img {
        max-width: 100%;
        width: 100%;
    }

    .gallery__content-slayder-img-swiper-navagation {
        width: 144px;
        margin-top: 29px;
    }

    .catalog {
        margin-bottom: 70px;
    }

    .catalog__content-text {
        margin-bottom: 20px;
    }

    .catalog__content-painters-position {
        flex-direction: column-reverse;
    }

    .catalog__content-nav-accordion-name-painters {
        max-height: 340px;
    }

    .catalog__content-painters-info {
        max-width: 100%;
        width: 100%;
    }

    .catalog__content-painters-info-position img {
        max-width: 670px;
    }

    .catalog__content-painters-info-text h3 {
        margin-bottom: 5px;
    }

    .catalog__content-nav {
        max-width: 100%;
        width: 100%;
        margin-bottom: 50px;
    }

    .ui-accordion .ui-accordion-header {
        padding: 32px 0;
    }

    .ui-accordion .ui-accordion-content {
        padding: 25px 0;
    }

    .catalog__content-nav-accordion-cap-painters p {
        width: 56%;
    }

    .events {
        margin-bottom: 40px;
    }

    .events__content-slayder-block-img {
        max-height: 200px;
        margin-bottom: 14px;
    }

    .events__content-slayder-block-text {
        padding-left: 37px;
        padding-right: 13px;
    }

    .events__content-slayder-block-text h3 {
        margin-bottom: 4px;
    }

    .events__content-slayder-block-text-place {
        font-size: 11.5px;
        line-height: 16px;
    }

    .events__fixes-header-block-two {
        padding-right: 45px;
    }

    .events__fixes-margin-bottom-block-1 {
        margin-bottom: 90px;
    }

    .events__fixes-margin-bottom-block-2 {
        margin-bottom: 58px;
    }

    .events__fixes-margin-bottom-block-3 {
        margin-bottom: 91px;
    }

    .events__fixes-margin-bottom-block-4 {
        margin-bottom: 26px;
    }

    .events__fixes-margin-bottom-block-5 {
        margin-bottom: 155px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        left: 44%;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 8px;
    }

    .projects {
        margin-bottom: 79px;
    }

    .projects__content-swiper-slide-link {
        height: 106px;
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: 0px;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: 12px;
    }

    .projects__content-text p {
        margin-bottom: 27px;
        width: calc(1570 / 1600 * 100%);
    }

    .projects__content-text h3 {
        margin-bottom: 29px;
    }

    .projects__content-swiper-slide-img {
        max-width: 212px;
        max-height: 52px;
    }

    .projects__fixes-text-link {
        display: none;
    }

    .projects__content-slayder .swiper-button-next {
        top: 57%;
    }

    .projects__content-slayder .swiper-button-prev {
        top: 57%;
    }

    .contacts__content {
        padding-top: 43px;
        padding-bottom: 39px;
    }

    .contacts__content-form {
        margin-top: 26px;
        margin-bottom: 30px;
    }

    .contacts__content-form-report {
        min-width: 323px;
        margin-right: 0px;
        margin-bottom: 12px;
    }

    .contacts__content-form-report:first-child {
        margin-right: 19px;
    }

    .contacts__content-form-button {
        max-width: 316px;
    }

    .footer__content {
        padding: 39px 0;
    }

    .footer__content-link a {
        margin-right: 26px;
    }

    .overlay__content-gallery-modal {
        max-width: 668px;
    }

    .overlay__content-gallery-modal-block-img img {
        width: 301px;
    }
}

@media (max-width: 560px) {
    .header__top-content__search-form__line, .header__lower-content__nav__search-form__line {
        width: 350px;
    }

    .hero {
        margin-bottom: 13px;
    }

    .hero__content-text h2 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 33px;
    }

    .hero__content-text p {
        margin-bottom: 79px;
    }

    .hero__content-text-buttom {
        padding: 15px 23px;
        font-size: 16px;
        line-height: 20px;
    }

    .about {
        margin-bottom: 19px;
    }

    .gallery {
        padding-bottom: 13px;
        margin-bottom: 19px;
    }

    .catalog {
        margin-bottom: 19px;
    }

    .catalog__content-text {
        margin-bottom: 18px;
    }

    .events {
        margin-bottom: 19px;
    }

    .projects {
        margin-bottom: 19px;
    }

    .projects__content-text p {
        width: calc(1500 / 1600 * 100%);
    }

    .contacts__content-form-input {
        padding: 10px 24px;
    }

    .footer__content {
        flex-direction: column;
        padding: 15px 0;
    }

    .footer__content img {
        margin-bottom: 10px;
    }

    .footer__content-link {
        margin-left: 0;
    }

    .overlay__content-gallery-modal-block {
        flex-direction: column;
    }

    .overlay__content-gallery-modal {
        max-width: 290px;
    }

    .overlay__content-gallery-modal-button-close {
        top: 1%;
        left: 89%;
    }

    .overlay__content-gallery-modal-block-img {
        width: 100%;
    }

    .overlay__content-gallery-modal-block-img img {
        width: 290px;
        height: 200px;
    }

    .overlay__content-gallery-modal-block-text {
        width: 100%;
        padding: 0 18px;
        padding-top: 17px;
    }

    .overlay__content-gallery-modal-block-text p {
        padding: 0;
        padding-top: 12px;
        padding-bottom: 26px;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 0 15px;
    }

    .header__top-content {
        padding: 10px 0px;
    }

    .header__top-content-adapt {
        width: 21px;
        height: 18px;
    }

    .header__top-content__search__icon-search svg {
        width: 18px;
        height: 18px;
    }

    .header__top-content-nav-adapt {
        padding: 0 15px;
        padding-top: 15px;
        padding-bottom: 27px;
        max-height: 355px;
    }

    .header__top-content-nav-adapt-button-close {
        width: 15px;
        height: 15px;
        background-size: 100%;
        margin-bottom: 15px;
    }

    .header__top-content__nav a {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
    }

    .header__top-content-nav-adapt-enter {
        width: 115px;
        height: 40px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    .header__top-content-nav-adapt-enter svg {
        height: 9px;
        width: 9px;
    }

    .header__top-content__search-form {
        height: 75px;
        padding: 15px 0;
        padding-left: 35px;
        padding-right: 14px;
        top: 0px;
    }

    .header__top-content__search-form__button {
        width: 20px;
        height: 20px;
        background-size: 100%;
    }

    .header__top-content__search-form__line, .header__lower-content__nav__search-form__line {
        margin: 0;
        width: 100%;
    }

    .header__top-content__search-form__button-cover {
        width: 20px;
        height: 20px;
        background-size: 100%;
        margin-bottom: auto;
    }

    .hero {
        padding-bottom: 57px;
        margin-bottom: 50px;
    }

    .hero__content-text {
        padding-top: 32px;
        max-width: 265px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .hero__content-text h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 12px;
    }

    .hero__content-text p {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 50px;
    }

    .hero__content-text-buttom {
        padding: 10px 19px;
        padding-right: 17px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
    }

    .about {
        margin-bottom: 40px;
    }

    .about h2 {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 13px;
    }

    .about p {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        margin-top: 10px;
    }

    .gallery {
        margin-bottom: 108px;
        padding-top: 46px;
        padding-bottom: 83px;
        position: relative;
    }

    .gallery__content-text {
        width: 100%;
        margin-bottom: 18px;
    }

    .gallery__content-text h2 {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 9px;
    }

    .gallery__content-filter-select span {
        margin-bottom: 3px;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
    }

    .choices {
        max-height: 35px;
    }

    .choices__inner {
        min-height: 35px;
        height: 35px;
    }

    .choices__list--single {
        padding-top: 2px;
    }

    .choices__item {
        font-size: 16px;
        line-height: 30px;
    }

    .choices[data-type*=select-one]:after {
        right: 16px;
    }

    .gallery__content-age-checkbox {
        margin-top: 30px;
    }

    .gallery__content-checkbox-input-text {
        font-weight: 400;
        font-size: 16px;
    }

    .gallery__content-slayder-img-swiper-navagation {
        margin-top: auto;
        width: 141px;
        height: 27px;
        position: absolute;
        bottom: 39px;
        left: 50%;
        margin-bottom: 0;
        transform: translateX(-50%);
    }

    .gallery__content-slayder-picture {
        max-height: 340px;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 3px;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 7px;
    }

    .gallery__content-slayder-img-swiper-pagination {
        font-size: 15px;
        margin-left: 26px;
    }

    .gallery__content-slayder-button.swiper-button-next {
        width: 38px;
        height: 25px;
    }

    .gallery__content-slayder-button.swiper-button-prev {
        width: 46px;
        height: 25px;
    }

    .catalog {
        margin-bottom: 50px;
    }

    .catalog__content-text {
        margin-bottom: 12px;
    }

    .catalog__content-text h2 {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        margin: 0;
    }

    .catalog__content-text p {
        display: none;
    }

    .ui-accordion .ui-accordion-header {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        padding: 20px 0;
    }

    .ui-accordion .ui-accordion-content {
        padding: 20px 0;
    }

    .catalog__content-nav-accordion-arrow {
        width: 30px;
        height: 30px;
        background-size: 100%;
    }

    .catalog__content-nav {
        margin-bottom: 50px;
    }

    .catalog__content-nav-accordion-name-painters {
        flex-flow: column;
        max-height: 100%;
    }

    .catalog__content-nav-accordion-name a {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }

    .catalog__content-painters-info-position img {
        margin-bottom: 19px;
    }

    .catalog__content-painters-info-text h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 12px;
    }

    .catalog__content-painters-info-text p {
        margin-top: 6px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }

    .catalog__content-nav-accordion-cap-painters img {
        max-width: 118px;
        max-height: 130px;
    }

    .catalog__content-nav-accordion-cap-painters h3 {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        padding: 0;
    }

    .catalog__content-nav-accordion-cap-painters p {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        width: 100%;
    }

    .events {
        margin-bottom: 0px;
    }

    .events__headear {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 11px;
    }

    .events__content-slayder-block {
        height: 89.5%;
    }

    .events__content-slayder-block-img {
        max-height: 200px;
        margin-bottom: 17px;
    }

    .events__content-slayder-block-text {
        padding-left: 23px;
        padding-right: 18px;
    }

    .events__content-slayder-block-text-place {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }

    .events__content-slayder-block-text h3 {
        font-size: 24px;
        line-height: 33px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .events__content-slayder-block-text p {
        font-size: 16px;
        line-height: 32px;
    }

    .events__content-slayder-block-text-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        padding-left: 5px;
    }

    .events__fixes-margin-bottom-block-1 {
        margin-bottom: 80px;
    }

    .events__fixes-margin-bottom-block-2 {
        margin-bottom: 13px;
    }

    .events__fixes-margin-bottom-block-3 {
        margin-bottom: 47px;
    }

    .events__fixes-margin-bottom-block-4 {
        margin-bottom: 14px;
    }

    .events__fixes-margin-bottom-block-5 {
        margin-bottom: 110px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 30px;
        top: 92%;
        left: 31%;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 0px;
        margin-right: 15px;
    }

    .projects {
        margin-bottom: 50px;
    }

    .projects__content-text h2 {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 12px;
    }

    .projects__content-text p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 32px;
        width: 100%;
    }

    .projects__fixes-text-link {
        display: inline;
    }

    .projects__content-text h3 {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 11px;
    }

    .projects__content-slayder {
        padding: 0 47px;
    }

    .projects__content-swiper-slide-link {
        height: 65px;
    }

    .projects__content-swiper-slide-img {
        width: 104px;
        height: 25px;
    }

    .projects__content-slayder .swiper-button-next {
        top: 60%;
    }

    .projects__content-slayder .swiper-button-prev {
        top: 60%;
    }

    .contacts {
        border: none;
    }

    .contacts__content {
        padding: 0;
    }

    .contacts__content-text {
        margin-right: 0px;
    }

    .contacts__content-text h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }

    .contacts__content-text address {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
    }

    .contacts__content-form {
        margin-top: 14px;
        margin-bottom: 19px;
    }

    .contacts__content-form-report {
        min-width: 290px;
        max-width: 323px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .just-validate-error-label {
        font-size: 12px;
    }

    .contacts__content-form-button {
        font-size: 12px;
        line-height: 16px;
        width: 128px;
        height: 40px;
    }

    .contacts__fixes-form-button {
        display: none;
    }

    .contacts__content-link h3 {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #333333;
        margin-bottom: 8px;
    }

    .whatsapp {
        width: 50px;
        height: 50px;
    }

    .telegram {
        width: 50px;
        height: 50px;
    }

    .contacts__content-map {
        border-top: none;
        height: 337px;
    }

    .footer__content {
        padding: 0;
        padding-top: 20px;
        flex-direction: column-reverse;
    }

    .footer__content img {
        height: 22px;
        margin: 0;
    }

    .footer__content-link {
        margin-bottom: 17px;
    }

    .footer__content-link svg {
        width: 50px;
        height: 50px;
    }

    .footer__content-link a {
        margin-right: 26px;
    }
}